*{
    margin : 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

html{
    scroll-behavior: smooth;
}

nav{
    position:fixed;
    top : 0;
    width: 100%;
    display : flex;
    justify-content:space-around;
    align-items: center;
    min-height: 8vh; /*height of the nav bar*/
    background-color: rgb(0, 0, 0);
    font-family: 'Raleway', sans-serif;
    z-index: 1000;
}

.logo{
    color:rgb(241, 241, 241);
    text-transform: uppercase;
    font-size: 50px;
    letter-spacing: 3px;
    font-family: 'Bebas Neue', cursive;
}

.logo a{
    color: rgb(241, 241, 241);
    text-decoration: none;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 40%;
    cursor: pointer;
}
.nav-links li{
    list-style: none;
}

.nav-links a{
    color:rgb(241, 241, 241);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size:14px;
    display:block;
    position:relative;
    padding: 0.5em 0;
    overflow:hidden;
}

/* underline animation ------------>*/
.nav-links a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.2em;
    background-color: rgb(241, 241, 241) ;
    opacity: 1;
    transition: opacity 300ms, transform 300ms;
    transform: translate3d(-101%,0,0);
}
  
.nav-links a:hover::after,
.nav-links a:focus::after {
    transform: translate3d(-1%, 0, 0);


}    /*<-------underline animation*/


.burger{
    display:none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color:rgb(241, 241, 241);
    margin: 5px;
    transition: all 0.3s ease
}

.home-section{
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("Resources/home-background.jpg");
}

.home-content{
    position: absolute;
    width: 600px;
    left: 10%;
    top: 15%;
    font-size: 50px;
    font-family: 'Raleway', sans-serif;
}

.home-content p{
    font-size: 20px;
    max-width: 100%;
}

/*Button alignment*/
.exploreDiv{
    width:90%;
    text-align:center;  
}

.exploreDiv a{
    font-size: 30px;
}

/*Button Styling*/
.exploreButton{
    font-weight: 100;
    text-decoration: none;
    color:black;
    border: solid 2px black;
    border-radius: 50px;
    padding:10px 40px;
    transition-duration:300ms;
}

.exploreButton:hover{
    background-color: black;
    color: rgb(241, 241, 241);
}

.about-section{
    position:relative;
    height:40vh;
    background-color: black;
}

.about-content{
    position: absolute;
    display:flex;
    width: 75%;
    top: 10%;
    margin-left:15%;
    text-align: center;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    color: white;
}

.about-content img{
    width: 25%;
    height: 25%;
    position: relative;
}

.abouttext{
    position:relative;
    display:flex;
}

.about-content h1{
    margin-top:5%;
    font-size: 62px;
}

.aboutparagraphs{
    position: relative;
    margin-left:5%;
    margin-top: 5%;
    width: 75%;
}

.titles{
    font-weight: 1000;
    font-size: 32px;
    margin-top:20px;
}

.home2-section{
    position: relative;
    height:100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("Resources/home-background2.png");
}
.contact{
    position:absolute;
    top:15%;
    left: 60%;
    align-items: center;
    display:flex;
    flex-direction: column;
}

.contact h1{
    text-align: center;
    width: 500px;
    font-family: 'Raleway', sans-serif;
    font-size: 62px;
    color:white;
}

.contactform{
    z-index: 100;
    margin-top: 20px;
    background-color: white;
    width : 500px;
    border: 2px white solid;
    border-radius: 25px;
    box-shadow: 0 0 20px 0 black;
}

.contactform p{
    content: "";
}

form{
    position: relative;
}

.input-field{
    margin-left: 50px;
    width:400px;
    height:40px;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #777;
    border-radius: 14px;
    outline:none;
}

input[type="text"]
{
    font-size:24px;
    font-family: 'Raleway', sans-serif;
}

textarea{
    font-family: 'Raleway', sans-serif;
    font-size: 24px;  
}

.textarea-field{
    height:100%;
    padding-top: 10px;
}

.errorMessage{
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    margin-top: 20px;
    text-align: center;
    color:red;
}

/*Button alignment*/
.sendDiv{
    margin-top: 50px;
    width: 100%;
    height: 100px;
    text-align:center;  
}

.sendDiv a{
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
}

/*Button Styling*/
.sendButton{
    margin-top:40px;
    font-weight: 100;
    text-decoration: none;
    color:black;
    border: solid 2px black;
    border-radius: 50px;
    padding:10px 40px;
    transition-duration:300ms;
}


.sendButton:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}

.paperairplane{
    position:absolute;
    top: 50%;
    left: 70%;
    height: 200px;
    width: 200px;
    transition: 3s;
}

.paperairplane img{
    height: 100px;
    width: 200px;
}

.paperairplane:hover{
    transform : translateX(-1000%);
}

footer{
    position: relative;
    width: 100%;
    height: 300px;
    background-color: black;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;;
}

footer p:nth-child(2){
    font-size: 20px;
    width: 90%;
    line-height: 40px;
    color: white;
    font-family: 'Raleway', sans-serif;
}

.social{
    display:flex;
}

.social a{
    width:45px;
    height: 45px;
    display:flex;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius:50%;
    margin:22px 10px;
    color:black;
    text-decoration: none;
    font-size: 20px;
}

.social a:hover{
    transform: scale(1.3);
    transition: .3s;
}

.end{
    position: absolute;
    color: white;
    bottom: 5%;
    font-size: 14px;
}

.styles-section{
    position:relative;
    height:110vh;
    width:75%;
    margin:auto;
    text-align:center;
    top:5vh;
    padding-top:50px;
}

.row{
    margin-top:1%;
    display:flex;
    justify-content: space-between;
}

.styles-section h1{
    font-family: 'Raleway', sans-serif;
    font-size: 56px;
    color:black;
}

.styles-col{
    flex-basis:32%;
    border-radius:10px; 
    margin-bottom: 30px;
    position: relative;
    overflow:hidden;
}

.styles-col{
    width:100%;
    height:700px;
}

.layer{
    background: transparent;
    height:100%;
    width:100%;
    position:absolute;
    top: 0;
    left: 0;
    transition: 0.5s; 
}

.layer:hover{
   background: rgb(0, 174, 255, 0.7)
}

.layer h3{
    font-family:'Raleway', sans-serif;
    font-size: 30px;
    color:white;
    width:100%;
    font-weight:500;
    bottom: 0;
    left: 50%;
    transform:translatex(-50%);
    position:absolute;
    opacity: 0;
    transition: 0.5s;
}

.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}


.gallery-section{
    height:auto;
}

.gallery{
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    text-align: center;
    margin:100px 75px;
}

.gallery h1{
    margin-bottom: 25px;
}

.gallery img{
    transition: 1s;
    padding: 15px;
    height: 600px;
    width: 400px;
}
.gallery img:hover{
    filter: grayscale(100%);
    transform:scale(1.1);
}

@media screen and (max-width:1280px){
    .about-section{
        height:95vh;
    }
    
    .about-content{
        display:flex;
        flex-direction: column;
        width: 75%;
        top: 5%;
        margin-left:15%;
    }
    
    .about-content img{
        width: 40%;
        height: 40%;
        position: relative;
    }
    
    .abouttext{
        flex-direction: column;
        align-items: center;
    }
    
    .about-content h1{
        margin-top:5%;
        font-size: 62px;
    }
    
    .aboutparagraphs{
        position: relative;
        align-items: center;
        width: 75%;
        font-size:20px;
        margin-top: 10%;
        margin-left:0%;
    }

    .contact{
        position:relative;
        left:5%;
        top:35px;
    }

    .contactform{
        max-width: 90%;
    }

    .contact h1{
        max-width: 90%;
    }
    
    .input-field{
        max-width: 80%;
        margin-left: 10%;
    }
}

@media screen and (max-width:768px){ /*for mobile*/
    
    body{
        overflow-x:hidden; /*hide the overflow(stop scrollbar)*/
    }

    .row{
        margin-top: 10%;
    }

    .gallery{
        margin:100px 25px;
    }

    .home-content{
        max-width: 95%;
        left:5%;
    }

    .home-content h1{
        font-size: 60px;
    }

    .home-content p{
        max-width: 90%;
    }

    .exploreDiv{
        width:50%;
        margin-left: 20%;
    }

    .about-section{
        height: 82vh;
    }
    
    .about-content{
        width:90%;
        margin-left:5%;
    }

    .nav-links{
        position:absolute;
        right: 0px; /* position: absolute to use right and left properties*/
        height: 92vh; /*vh - viewport height*/
        top: 8vh;
        background-color: rgb(0, 0, 0);
        display:flex;
        flex-direction: column;
        align-items: center;
        width:50%;
        transform: translateX(100%); /*position outside the page*/
        transition : transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
    }

    .contact{
        position:relative;
        left:7.5%;
        top:35px;
        width: 90%;
    }

    .contactform{
        max-width: 100%;
    }

    .contact h1{
        max-width: 90%;
    }
    
    .input-field{
        max-width: 80%;
        margin-left: 10%;
    }

    .styles-section{
        height: 290vh;
    }

    .row{
        flex-direction: column;
    }

    .gallery img{
        width: 300px;
        height: 400px;
    }

    input[type="text"]{
    font-size:20px;
    font-family: 'Raleway', sans-serif;
    }

    textarea{
        font-family: 'Raleway', sans-serif;
        font-size: 20px;  
    }

    footer{
        height:350px;
    }
}

.nav-active{
    transform:translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }to{
        opacity: 1;
        transform:translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}
